@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color--: rgb(44, 106, 120);
    --primary-color-darker--: rgb(59, 114, 127);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color--);
    padding-top: 50px;
    font-family:'open sans' ,sans-serif;
    font-size: 1,3em;
    line-height: 1,5em;
}

.container {
    display: grid;
    max-width: 640px;
    margin: 0 auto;
    background: #ccc;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    
}

button {
   padding: 15px;
 
   
}

button:hover {
    background: var(--primary-color-darker--);
}

.relogio {
    font-size: 50px;
    font-weight: bold;
}

.pausado {
    color: red
}
